@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jersey+15&family=Qahiri&display=swap');

html {
    font-family: 'Jersey 15';
    background-color: var(--bg-color);
    color: var(--color);

    --bg-color: black;
    --color: red;
    --color-high: magenta;
    --color-low: firebrick;
    --padding-x: 1rem;
    --padding-y: .25rem;
}

body {
    margin: 0;
}

a {
    cursor: pointer;
    transition: font-size .2s;
}

@media (min-width: 1024px) {
    a:hover {
        color: var(--color-high);
        font-size: 2rem;
    }
}

button {
    background-color: var(--color);
    color: var(--bg-color);
    border: 0;
    font-family: inherit;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .field {
        display: flex;
        flex-direction: column;
        gap: var(--padding-y);
    }
}

input {
    background-color: var(--bg-color);
    color: var(--color);
    /* border-width: 2px;
    border-style: solid;
    border-color: var(--color); */
    border: 2px solid var(--color);
    outline: none;
    font-family: inherit;
    font-size: 1rem;
}

input:focus {
    background-color: var(--bg-color);
    border-color: var(--color-high);
}

input::placeholder {
    color: var(--color-low);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: var(--bg-color);
    -webkit-text-fill-color: var(--color);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}

article {

    h3,
    p,
    .post-footer {
        padding: var(--padding-y) var(--padding-x);
    }

    img {
        width: 100%;
    }

    .post-footer {
        display: flex;
        justify-content: space-between;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /* width: calc(100% - 20px); */
    width: 100%;
    background-color: var(--bg-color);
    padding: var(--padding-y) var(--padding-x);
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

main {
    margin: 3rem 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    padding: var(--padding-y) var(--padding-x);
    box-sizing: border-box;
}